.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px; /* Ajusta el padding según sea necesario */
  font-size: 16px; /* Tamaño de fuente coherente */
  border-radius: 4px;
  border: none;
  cursor: pointer;
  color: white;
  text-decoration: none;
  width: 100px; /* Ancho fijo para todos los botones */
  box-sizing: border-box; /* Incluye el padding en el ancho total */
}

.btn-edit {
  background-color: #4CAF50;
}

.btn-delete {
  background-color: #f44336;
}

.btn-view {
  background-color: var(--color-primary);
}

.btn-serve{
  background-color: var(--color-warning); 
  color: white !important; 
  padding: 6px 6px; /* Ajusta el tamaño del padding según sea necesario */
  text-decoration: none; 
  border-radius: 4px;
}

.search {
    display: flex;
    align-items: center;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
  }
  
  .search-product {
    border: none;
    width: 90%;
    padding: 5px;
  }

  .search-category{
    border: none;
    width: 90%;
    padding: 5px;
  }

  .search-order {
    border: none;
    width: 90%;
    padding: 5px;
  }

.circle-green {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: green;
}

.circle-red {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
}

.status-circle-status {
  position: absolute;
  top: 50%;
  transform: translateY(-80%);
  right: 5px; /* Ajusta la posición derecha según sea necesario */
  width: 10px; /* Ancho del círculo */
  height: 10px; /* Alto del círculo */
  border-radius: 50%; /* Para hacerlo un círculo */
}

.circle-green-status {
  background-color: #4CAF50; /* Color verde para el círculo */
}

.circle-red-status {
  background-color: #f44336; /* Color rojo para el círculo */
}
  

 

  