.main-media {
    border: .2rem solid blue;
    display: flex; /* Utilizamos flexbox para controlar el diseño */
    flex-direction: column; /* Apilamos los elementos verticalmente */
}

.recent-orders {
    border: .2rem solid red;
}
