.main-media {
    border: .2rem solid blue;
    display: flex; /* Utilizamos flexbox para controlar el diseño */
    flex-direction: column; /* Apilamos los elementos verticalmente */
}

.recent-orders {
    border: .2rem solid red;
}

.header-media {
    background-color: var(--color-white);
    padding: 10px;
    border-radius: var(--card-border-radius);
    display: flex;
    align-items: center;
    border: .2rem solid green;
}

.header-media input[type=file] {
    display: none; /* Oculta el input tipo archivo */
}

.header-media .material-symbols-outlined {
    margin-right: 10px;
    color: var(--color-primary);
}

.header-media label {
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 8px 12px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

/* Cambia el color del borde al pasar el ratón sobre el botón */
.header-media label:hover {
    border-color: #666;
}

.body-media {
    border: .2rem solid yellow;
    flex-grow: 1;
    padding: 10px;
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan */
    justify-content: flex-start; /* Alinea los elementos al inicio */
}

.video-box {
    border: 1px solid gray;
    margin: 5px; /* Espacio entre las cajas de video */
    width: 150px; /* Ancho fijo para las cajas de video */
    height: auto; /* Altura automática para el contenido del video */
    max-height: 150px; /* Altura máxima para las cajas de video */
    display: flex; /* Ajusta el contenedor para usar flexbox */
    justify-content: center; /* Centra el contenido verticalmente */
    align-items: center; /* Centra el contenido horizontalmente */
    flex-direction: column;
}

.video-box video {
    max-width: 100%; /* Ajusta el ancho máximo del video al 100% del contenedor */
    height: 100%; /* Ajusta la altura del video al 100% del contenedor */
    border: .2rem solid pink;
}

.video-box button {
    display: flex; /* Utiliza flexbox para alinear elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
    background: none; /* Elimina el fondo del botón */
    border: none; /* Elimina el borde del botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    color: var(--color-danger); /* Establece el color del texto según la variable --color-danger */
}

.video-box button .material-symbols-outlined {
    margin-right: 5px; /* Espacio entre el icono y el texto */
    color: var(--color-danger); /* Establece el color del icono según la variable --color-danger */
}