#temperature {
    width: 50%; /* Ajusta el ancho del control deslizante según tus necesidades */
    height: 15px; /* Ajusta la altura de la barra según tus necesidades */
    background-color: #9da1a3; /* Cambia el color de fondo de la barra */
    border: 1px solid #2980b9; /* Cambia el color y grosor del borde de la barra */
}
#temperatureValue {
    font-size: 24px; /* Ajusta el tamaño de la fuente según tus necesidades */
}
#temperatureLabel {
    font-size: 18px; /* Ajusta el tamaño de la fuente para la etiqueta según tus necesidades */
}
#selectLabel{
    font-size: 18px; /* Ajusta el tamaño de la fuente para la etiqueta según tus necesidades */
}
#playerSelect {
    width: 300px; /* Ajusta el ancho del select según tus necesidades */
    height: 40px; /* Ajusta la altura del select según tus necesidades */
    font-size: 16px; /* Ajusta el tamaño de la fuente del select según tus necesidades */
    border: 1px solid #3498db; /* Cambia el color y grosor del borde del select */
    border-radius: 5px; /* Agrega bordes redondeados al select */
    background-color: #ecf0f1; /* Cambia el color de fondo del select */
    padding: 5px; /* Ajusta el relleno del select según tus necesidades */
}