<div class="insights">
    <!--====================INIT REPORT BUTTONS ====================-->
    
    <div class="report-button" onclick="location.href='/download_report';">
        <span class="material-symbols-outlined">
            lab_profile
        </span>
        <div class="middle">
            <div class="left">
                <h3>ZKONG</h3>
            </div>
        </div>
        <small class="text-muted">Last 24 Hours</small>
    </div>
    
    <div class="report-button" onclick="location.href='/download_report';">
        <span class="material-symbols-outlined">
            lab_profile
        </span>
        <div class="middle">
            <div class="left">
                <h3>MagicInfo</h3>
            </div>
        </div>
        <small class="text-muted">Last 24 Hours</small>
    </div>

    <div class="report-button" onclick="location.href='/download_report';">
        <span class="material-symbols-outlined">
            lab_profile
        </span>
        <div class="middle">
            <div class="left">
                <h3>VNOX</h3>
            </div>
        </div>
        <small class="text-muted">Last 24 Hours</small>
    </div>

    <!--====================END REPORT BUTTONS ====================-->
</div>