<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PopAtelier</title>
    
    <!--Material CDN-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <!--Styles-->
    <link rel="icon" href="{{ url_for('static', filename='img/logo.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gadgets.css') }}">

    <!-- CDN de Sweet Alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.min.css">

</head>
<body>

    <div class="container">
        <!--====================BEGIN ASIDE ====================-->
        {% include 'sidebar.html' %}
         <!--====================END ASIDE ====================-->
        <main>
            <h1>Dashboard</h1>
           
            <div class="date">
                <!-- <input type="date"> -->
                Welcome again
            </div>
            
            {% include 'insights.html' %}

             <!--==================== END INSIGHTS ====================-->
             <!--=== BEGIN ORDERS ====-->
            <div class="recent-orders">
                <h2>Recent Orders</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Table</th>
                            <th>NameFood</th>
                            <th>Quantity</th>
                            <th>Description</th>
                            <th>Date</th>
                            <th>Total</th>
                            <th>Served</th>
                            <th>Options</th>   
                        </tr>
                    </thead>
                    <tbody id="order-table-body">                  
                    </tbody>
                </table>    
            </div>
            <div class="pagination">
                <ul id="pagination-list">
                    <li class="page-item" id="page-previous">
                        <a href="#" class="page-link">Previous</a>
                    </li>
                </ul>
            </div>
            
        </main>
         <!--==================== END MAIN ====================-->
        <div class="right">
            <div class="top">
                <button id="menu-btn">
                    <span class="material-icons-sharp">menu</span>
                </button>
                <div class="theme-toggler">
                    <span class="material-icons-sharp active">light_mode</span>
                    <span class="material-icons-sharp">dark_mode</span>
                </div>
                <div class="profile">
                    <div class="info">
                        <p>Hey, <b>User</b></p>
                        <p style="display: none;">Mode: <b id="current-user-mode">Administrator</b></p>
                        <small class="text-muted">
                                Admin
                        </small>
                    </div>
                    <div class="profile-photo">
                        <img src="{{ url_for('static', filename='img/profile.png') }}">
                    </div>
                    <div class="logout">
                        <a href="#">
                            <span class="material-icons-sharp">logout</span>
                            <h3>Logout</h3>
                        </a>
                    </div>
                </div>
            </div>
             <!--====== END TOP ======-->
             
            {% include 'recent-updates.html' %}

            <!--==================== END RECENT UPDATES ====================-->

            {% include 'sales-analytics.html' %}
        </div>   
    </div>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popups.js') }}"></script>
 
</body>
</html>