<div class="insights">
    <div class="sales">
        <span class="material-icons-sharp">analytics</span>
        <div class="middle">
            <div class="left">
                <h3>Total Players</h3>
                <h1>5,024</h1>
            </div>
            <div class="progress">
                <svg>
                    <circle cx="38" cy="38" r="36"></circle>
                </svg>
                <div class="number">
                    <p>81 online</p>
                </div>
            </div>
        </div>
        <small class="text-muted">Last 24 Hours</small>
    </div>
    <!--====================END SALES ====================-->
    <div class="expenses">
        <span class="material-icons-sharp">bar_chart</span>
        <div class="middle">
            <div class="left">
                <h3>Change content</h3>
                <h1>160</h1>
            </div>
            <div class="progress">
                <svg>
                    <circle cx="38" cy="38" r="36"></circle>
                </svg>
                <div class="number">
                    <p>62%</p>
                </div>
            </div>
        </div>
        <small class="text-muted">Last 24 Hours</small>
    </div>
    <!--====================END EXPENSES ====================-->
    <div class="income">
        <span class="material-icons-sharp">filter_list_off</span>
        <div class="middle">
            <div class="left">
                <h3>Offline</h3>
                <h1>4993</h1>
            </div>
            <div class="progress">
                <svg>
                    <circle cx="38" cy="38" r="36"></circle>
                </svg>
                <div class="number">
                    <p>44%</p>
                </div>
            </div>
        </div>
        <small class="text-muted">Last 24 Hours</small>
    </div>
    <!--====================END INCOME ====================-->
</div>