<div class="insights">
    <div class="sales">
        <span class="material-icons-sharp">analytics</span>
        <div class="middle">
            <div class="left">
                <h3>Total Players</h3>
                <h1>{{ num_players }}</h1>
            </div>
            <div class="progress">
                <svg>
                    <circle cx="38" cy="38" r="36"></circle>
                    <circle cx="38" cy="38" r="36" class="active-circle" stroke-dasharray="{{ num_online / num_players * 226.195 }}" stroke-dashoffset="0"></circle>
                    <circle cx="38" cy="38" r="36" class="offline-circle" stroke-dasharray="{{ num_offline / num_players * 226.195 }}" stroke-dashoffset="{{ num_online / num_players * 226.195 }}"></circle>
                </svg>
                <div class="number">
                    <p>{{ num_online }} online</p>
                </div>
            </div>
        </div>
        <small class="text-muted">Last 24 Hours</small>
    </div>
    <!--====================END SALES ====================-->
    <div class="expenses">
        <span class="material-icons-sharp">bar_chart</span>
        <div class="middle">
            <div class="left">
                <h3>Online</h3>
                <h1>{{ num_online }}</h1>
            </div>
            <div class="progress">
                <svg>
                    <circle cx="38" cy="38" r="36"></circle>
                    <circle cx="38" cy="38" r="36" class="active-circle" stroke-dasharray="{{ num_online / num_players * 226.195 }}" stroke-dashoffset="0"></circle>
                    <circle cx="38" cy="38" r="36" class="offline-circle" stroke-dasharray="{{ num_offline / num_players * 226.195 }}" stroke-dashoffset="{{ num_online / num_players * 226.195 }}"></circle>
                </svg>
                <div class="number">
                    <p>{{ num_online / num_players * 100 }}%</p>
                </div>
            </div>
        </div>
        <small class="text-muted">Last 24 Hours</small>
    </div>
    <!--====================END EXPENSES ====================-->
    <div class="income">
        <span class="material-icons-sharp">filter_list_off</span>
        <div class="middle">
            <div class="left">
                <h3>Offline</h3>
                <h1>{{ num_offline }}</h1>
            </div>
            <div class="progress">
                <svg>
                    <circle cx="38" cy="38" r="36"></circle>
                    <circle cx="38" cy="38" r="36" class="active-circle" stroke-dasharray="{{ num_online / num_players * 226.195 }}" stroke-dashoffset="0"></circle>
                    <circle cx="38" cy="38" r="36" class="offline-circle" stroke-dasharray="{{ num_offline / num_players * 226.195 }}" stroke-dashoffset="{{ num_online / num_players * 226.195 }}"></circle>
                </svg>
                <div class="number">
                    <p>{{ num_offline / num_players * 100 }}%</p>
                </div>
            </div>
        </div>
        <small class="text-muted">Last 24 Hours</small>
    </div>
    <!--====================END INCOME ====================-->
</div>
