<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PopAtelier</title>
    
    <!--Material CDN-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <!--Styles-->
    <link rel="icon" href="{{ url_for('static', filename='img/logo.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/media.css') }}">

    <!-- CDN de Sweet Alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.min.css">

</head>
<body>

    <div class="container">
        <!--====================BEGIN ASIDE ====================-->
        {% include 'sidebar.html' %}
         <!--====================END ASIDE ====================-->
         <main class="main-media">
            <div class="recent-orders">
                <h2>Media</h2>
                <div class="header-media">
                    <label class="upload-button">
                        <input type="file" name="media">
                        <span class="material-symbols-outlined">upload_file</span>
                        <span>Upload</span>
                    </label>
                </div>    
            </div>
            <div class="body-media">
                <div class="video-box">
                    <video controls>
                        <source src="https://mediapopa.s3.amazonaws.com/main.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    <button>Delete<span class="material-symbols-outlined">delete</span></button>
                    <small>1233 MB</small>
                </div>  
            </div>   
        </main>
        
         <!--==================== END MAIN ====================-->
        <div class="right">
            {% include 'right-header.html' %}

            <!--====== END TOP ======-->
             
            {% include 'recent-updates.html' %}

            <!--==================== END RECENT UPDATES ====================-->

            {% include 'sales-analytics.html' %}
        </div>   
    </div>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
 
</body>
</html>