<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PopAtelier</title>
    
    <!--Material CDN-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <!--Styles-->
    <link rel="icon" href="{{ url_for('static', filename='img/logo.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pagination.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/media.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gadgets.css') }}">
   

    <!-- CDN de Sweet Alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.min.css">
    <meta name="csrf-token" content="{{ csrf_token() }}">

</head>
<body>

    <div class="container">
        <!--====================BEGIN ASIDE ====================-->
        {% include 'sidebar.html' %}
         <!--====================END ASIDE ====================-->
        <main class="main-media">
            <!--====================BEGIN CONTENT MEDIA ====================-->
            <div class="recent-orders">
                
                <div class="header-media">
                    <h2>Media</h2>
                    <button id="upload-button" type="button">
                        <span class="material-symbols-outlined">
                            cloud_upload
                        </span>Upload
                    </button>
                    <button id="delete-button" type="button">
                        <span class="material-symbols-outlined">
                            delete
                        </span>Delete
                    </button>
                    <button id="test" type="button">
                        <span class="material-symbols-outlined">
                            favorite
                        </span>Test
                    </button>
                    <form action="{{ url_for('media') }}" method="get" class="search-form">
                        <input type="search" class="search" name="q" placeholder="Search" value="{{ query }}">
                        <button type="submit" class="search-button"><span class="material-symbols-outlined">search</span></button>
                    </form>
                    <!-- <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"> -->
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Delete</th>
                            <th>Name</th>
                            <th>Media</th>
                            <th>Size</th>
                            <th>Tagging</th>
                            <th>Last Modified</th>
                            <th>Options</th>   
                        </tr>
                    </thead>
                    <tbody id="order-table-body">
                        {% for media in objects %}
                        <tr>
                            <td>
                                <input type="checkbox" class="styled-checkbox" >
                            </td>                          
                            <td>{{ media.title }}</td>
                            <td class="media-content">
                                {% if media.title.endswith('.mp4') %}
                                <video controls class="media-video">
                                    <source src="https://mediapopa.s3.amazonaws.com/{{ media.title }}" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                                {% else %}
                                <img src="https://mediapopa.s3.amazonaws.com/{{ media.title }}" alt="Image" class="media-image">
                                {% endif %}
                            </td>
                            <td>{{ media.size }} MB</td>
                            <td>{{ media.tags }}</td>
                            <td>{{ media.lastModified }}</td>
                            <td>
                                <a class="btn-edit" href="#" style="color: white;">Edit</a>
                                <a class="btn-delete" href="#" style="color: white;" onclick="confirmDelete(event)">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>    
            </div>
            <div class="pagination">
                {% if total_pages > 1 %}
                    {% if page_number > 1 %}
                        <a href="{{ url_for('media', page=page_number - 1) }}" class="btn btn-danger">Previous</a>
                    {% endif %}
                    {% for page in range(start_range, end_range + 1) %}
                        <a href="{{ url_for('media', page=page) }}" class="btn btn-primary{% if page == page_number %} active{% endif %}">{{ page }}</a>
                    {% endfor %}
                    {% if page_number < total_pages %}
                        <a href="{{ url_for('media', page=page_number + 1) }}" class="btn btn-danger">Next</a>
                    {% endif %}
                {% endif %}
            </div>           
            <!--====================END CONTENT MEDIA ====================-->
        </main>        
        
         <!--==================== END MAIN ====================-->
        <div class="right">
            {% include 'right-header.html' %}

            <!--====== END TOP ======-->

        </div>   
    </div>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script src="{{ url_for('static', filename='js/media.js') }}"></script>
    <script src="{{ url_for('static', filename='js/gadgets.js') }}"></script>
    <script>
        document.getElementById("upload-button").addEventListener("click", async function() {
    const { value: formValues } = await Swal.fire({
        title: "Subir archivo",
        html:
            '<input id="swal-input1" class="swal2-input" placeholder="Tag">' +
            '<input id="file-input" type="file" accept="video/*, image/*">',
        focusConfirm: false,
        preConfirm: () => {
            return [
                document.getElementById("swal-input1").value,
                document.getElementById("file-input").files[0]
            ];
        }
    });

    const tag = formValues[0];
    const file = formValues[1];

    if (file) {
        const formData = new FormData();
        formData.append("file", file);
        formData.append("tag", tag);

        // Obtener el token CSRF de la metaetiqueta
        const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

        fetch("/upload_media", {
            method: "POST",
            headers: {
                'X-CSRFToken': csrfToken  // Incluir el token CSRF en los encabezados
            },
            body: formData
        })
        .then(response => response.text())
        .then(data => {
            Swal.fire({
                title: "Respuesta del servidor",
                text: data
            });
        })
        .catch(error => {
            console.error('Error:', error);
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: 'Hubo un error al subir el archivo.'
            });
        });
    }
});

    </script>
    
   
    
    
    
</body>
</html>