<div class="recent-updates">
    <h2>Recent Updates</h2>
    <div class="updates">
        {% if get_logs %}
            {% for log in get_logs %}
                <div class="update">
                    <div class="profile-photo">
                        <img src="{{ url_for('static', filename='img/router.png') }}">
                    </div>
                    <div class="message">
                        <p><b>IP:</b> {{ log.get('headers', {}).get('client_ip', 'N/A') }}<br>
                           <b>Time:</b> {{ log.get('requestTime', 'N/A') }}<br>
                           <b>Method:</b> {{ log.get('request', {}).get('uri', 'N/A') }}</p>
                        <!-- <small class="text-muted">2 Minutes Ago</small> -->
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No recent updates.</p>
        {% endif %}
    </div>
</div>
