<div class="sales-analytics">
    <h2>Reports</h2>
    <!-- <div class="item online">
        <div class="icon">
            <span class="material-icons-sharp">settings_applications</span>
        </div>
        <div class="right">
            <div class="info">
                <h3>PLAYERS</h3>
                <small class="text-muted">Last 24 Hours</small>
            </div>
            <h5 class="success">+39%</h5>
            <h3>3849</h3>
        </div>
    </div> -->

    <!-- <div class="item offline">
        <div class="icon">
            <span class="material-icons-sharp">schedule</span>
        </div>
        <div class="right">
            <div class="info">
                <h3>TIME CHANGE</h3>
                <small class="text-muted">Last 24 Hours</small>
            </div>
            <h5 class="danger">-17%</h5>
            <h3>1100</h3>
        </div>
    </div> -->

    <!-- <div class="item customers">
        <div class="icon">
            <span class="material-icons-sharp">filter_list_off</span>
        </div>
        <div class="right">
            <div class="info">
                <h3>OFFLINE</h3>
                <small class="text-muted">Last 24 Hours</small>
            </div>
            <h5 class="success">+25%</h5>
            <h3>3333</h3>
        </div>
    </div> -->
    
    <a href="/send_report" class="item add-product">
        <div>
            <div>
                <span class="material-icons-sharp">mail</span>
                <h3>Send Report Players</h3>
            </div>
        </div>
    </a>

  <!--   <a href="#" class="item add-product">
        <div>
            <div>
                <span class="material-icons-sharp">add</span>
                <h3>Add Product</h3>
            </div>
        </div>
    </a> -->

</div>
