<aside>
    <div class="top">
        <a href="{{ url_for('home') }}">
            <div class="logo">
                <img src="{{ url_for('static', filename='img/logocms.png') }}">
            </div>
        </a>
        <div class="close" id="close-btn">
            <span class="material-icons-sharp">close</span>
        </div>
    </div>
    <div class="sidebar">
        <a href="{{ url_for('home') }}">
            <span class="material-icons-sharp">grid_view</span>
            <h3>Dashboard</h3>
        </a>    
        <!-- <div class="submenu">
            <a href="#">
                <span class="material-symbols-outlined">shelves</span>
                <h3>Shelfs</h3>
            </a> 
            <div class="submenu-options">
                <a href="#">
                    <span class="material-symbols-outlined">
                        shelf_position
                    </span>
                    <h3>Racks</h3>
                </a>
                <a href="#">
                    <span class="material-symbols-outlined">
                        kitchen
                    </span>
                    <h3>Coolers</h3>
                </a>
                <a href="#">
                    <span class="material-symbols-outlined">
                        subheader
                    </span>
                    <h3>Endcaps</h3>
                </a>
            </div>
        </div> -->
        <a href="{{ url_for('media') }}">
            <span class="material-icons-sharp">movie</span>
            <h3>Media</h3>
        </a>
        <a href="https://pop-atelier.odoo.com/" target="_blank">
            <span class="material-symbols-outlined">
                forum
            </span>
            <h3>Tickets</h3>
        </a>
    </div>
</aside>