<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PopAtelier</title>
    
    <!--Material CDN-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <!--Styles-->
    <link rel="icon" href="{{ url_for('static', filename='img/logo.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/simulate.css') }}">
</head>
<body>

    <div class="container">
        <!--====================BEGIN ASIDE ====================-->
        {% include 'sidebar.html' %}
         <!--====================END ASIDE ====================-->
        <main>
            <h1>Simulate API</h1>

             <!--==================== END INSIGHTS ====================-->
             <!--=== BEGIN ORDERS ====-->
            <div class="recent-orders">
                <h2>Change content</h2>
                <form action="/submit_form_simulate_api" method="post" class="custom-form" enctype="multipart/form-data">
                    <label for="playerSelect" id="selectLabel">Select Player:</label>
                    <select id="playerSelect" name="playerId">
                        {% for player in players_info %}
                            <option value="{{ player['playerId'] }}">{{ player['name'] }}</option>
                        {% endfor %}
                    </select><br><br>
                
                    <label for="temperature" id="temperatureLabel">Temperature:</label>
                    <input type="range" id="temperature" name="temperature" min="-50" max="50" step="1" value="50" oninput="updateTemperatureValue(this.value)">
                    <output for="temperature" id="temperatureValue">50</output> °C
                    <br><br>
                    <input type="submit" value="Send" class="submit-button">
                </form>                                
            </div>
        </main>
         <!--==================== END MAIN ====================-->
        <div class="right">
            <div class="top">
                <button id="menu-btn">
                    <span class="material-icons-sharp">menu</span>
                </button>
                <div class="theme-toggler">
                    <span class="material-icons-sharp active">light_mode</span>
                    <span class="material-icons-sharp">dark_mode</span>
                </div>
                <div class="profile">
                    <div class="info">
                        <p>Hey, <b>User</b></p>
                        <p style="display: none;">Mode: <b id="current-user-mode">Administrator</b></p>
                        <small class="text-muted">
                                Admin
                        </small>
                    </div>
                    <div class="profile-photo">
                        <img src="{{ url_for('static', filename='img/profile.png') }}">
                    </div>
                </div>
            </div>
             <!--====== END TOP ======-->
             
            {% include 'recent-updates.html' %}

            <!--==================== END RECENT UPDATES ====================-->

            
        </div>   
    </div>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script src="{{ url_for('static', filename='js/simulate.js') }}"></script>



</body>
</html>