<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PopAtelier</title>
    
    <!--Material CDN-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <!--Styles-->
    <link rel="icon" href="{{ url_for('static', filename='img/logo.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loader.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/edit-player.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gadgets.css') }}">
    
</head>
<body>
    <div class="loader-container" id="loaderContainer">
        <div class="loader"></div>
    </div>

    <div class="container">
        <!--====================BEGIN ASIDE ====================-->
        {% include 'sidebar.html' %}
         <!--====================END ASIDE ====================-->
        <main>
            <h1>Player Information</h1>
             <!--==================== END INSIGHTS ====================-->
             <!--=== BEGIN ORDERS ====-->
            <div class="recent-orders">
                <h2>Player</h2>
                <form action="#" method="post" class="custom-form" enctype="multipart/form-data">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <div class="first-edit">
                        <div class="second-edit">
                            
                            <label for="player_duidOne">Player duidOne:</label><br>

                           <div style="position: relative; display: inline-block;">
                                <input type="text" id="player_duidOne" name="player_duidOne" value="{{ player_duidOne }}" readonly>
                                {% if player_statusOne == '1' %}
                                    <span class="status-circle-status circle-green-status"></span>
                                {% else %}
                                    <span class="status-circle-status circle-red-status"></span>
                                {% endif %}
                            </div><br>

                            <label for="lastReportTimeOne">Last Report Time One:</label><br>
                            <input type="text" id="lastReportTimeOne" name="lastReportTimeOne" value="{{ lastReportTimeOne }}" readonly><br><br>
                            
                            <label for="player_duidTwo">Player duidTwo:</label><br>
                            <div style="position: relative; display: inline-block;">
                                <input type="text" id="player_duidTwo" name="player_duidTwo" value="{{ player_duidTwo }}" readonly>
                                {% if player_statusTwo == '1' %}
                                    <span class="status-circle-status circle-green-status"></span>
                                {% else %}
                                    <span class="status-circle-status circle-red-status"></span>
                                {% endif %}
                            </div> <br>

                            <label for="lastReportTimeTwo">Last Report Time Two:</label><br>
                            <input type="text" id="lastReportTimeTwo" name="lastReportTimeTwo" value="{{ lastReportTimeTwo }}" readonly><br><br>
                            
                            <label for="iccid">ICCID:</label><br>
                            <input type="text" id="iccid" name="iccid" value="{{ iccid }}" readonly><br>

                            <label for="imsi">IMSI:</label><br>
                            <input type="text" id="imsi" name="imsi" value="{{ imsi }}" readonly><br>

                            <label for="msisdn">MSISDN:</label><br>
                            <input type="text" id="msisdn" name="msisdn" value="{{ msisdn }}" readonly><br>

                            <label for="store">Store:</label><br>
                            <input type="text" id="store" name="store" value="{{ store }}" readonly><br>

                            <h2>Status SIM</h2>
                            <div style="position: relative; display: inline-block;">
                                <input type="text" id="inSession" name="inSession" value="{{ inSession }}" readonly>
                                {% if inSession == 'True' %}
                                    <span class="status-circle-status circle-green-status"></span>
                                {% else %}
                                    <span class="status-circle-status circle-red-status"></span>
                                {% endif %}
                            </div> <br>

                            <label for="sessionStartTime">Session Start Time:</label><br>
                            <input type="text" id="sessionStartTime" name="sessionStartTime" value="{% if sessionStartTime is none %}No date{% else %}{{ sessionStartTime }}{% endif %}" readonly><br>
                            


                        </div>
                        
                        <div class="third-edit">
                            <h2>Store Location</h2>
                            <div class="store-location">
                                    <img src="https://retailmibeex.net/images/notfound.png" style="width: 100%; max-width: 200px; margin-right: 10px; height: auto;">
                                    <img src="https://retailmibeex.net/images/notfound.png" style="width: 100%; max-width: 200px; height: auto;">
                            </div>
                        </div>
                    </div>
                </form>                                    
            </div>
        </main>
         <!--==================== END MAIN ====================-->
        <div class="right">
            {% include 'right-header.html' %}
            <!--====== END TOP ======-->
             
            {% include 'recent-updates.html' %}

            <!--==================== END RECENT UPDATES ====================-->  
        </div>   
    </div>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>

</body>
</html>
